@font-face { font-family: 'RobotoR'; src: url('Roboto-Regular.woff'); }
@font-face { font-family: 'RobotoB'; src: url('Roboto-Bold.woff'); }
@font-face { font-family: 'RobotoB'; src: url('Roboto-Light.woff'); }

@font-face { font-family: 'Puhly'; src: url('Comfortaa.woff'); } 

@font-face { font-family: 'Free Sans'; src: url('FreeSans.woff'); }

@font-face{font-display:fallback;font-family:"few icons";src:url("awesome.woff");}




@font-face{font-display:fallback;font-family:"Gillius";src:url("Gillius.woff");}


@font-face{font-display:fallback;font-family:'Free Serif Italic';src:url('free-serif-italic.otf');}


@font-face{font-display:fallback;font-family:'Linux Libertine';src:url('LinLibertine_R.otf')}
